body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: whitesmoke;
}

.container {
  width: 350px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}



header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.search-row {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 12px;
}

input[type="search"] {
  flex: 1;
  padding: 10px 10px;
  font-size: 14px;
  border-radius: 50px;
  border: 1px solid #ccc;
}

button {

  padding: 10px 10px;
  font-size: 14px;
  border-radius: 50px;
  border: 1px solid #bbb;
  background: #fff;
  cursor: pointer;
  transition: background 0.2s;
}


.add-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 1px;
}

.add-item input {
  flex: 1;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid #ccc;
  outline: none;
}

.add-item button {
  padding: 10px 10px;
  font-size: 14px;
  border-radius: 50px;
  border: 1px solid #bbb;
  background: #fff;
  cursor: pointer;
  transition: background 0.2s;
}

h3 {
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

ul {
  padding: 0;
  margin: 0;

}


li {
  background: rgba(210, 171, 171, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  border: none;
  transition: background 0.2s;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 5px;

}


li span {
  flex: 1;
  margin-left: 10px;
}

li button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete {
  font-size: 12px;
  color: red;
  opacity: 0.6;
}

.counter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  color: grey;
  font-size: 14px;

}

.counter-container p {
  align-self: center;

}

.counter-container button {
  padding: 5px 10px;
  border-radius: 50px;
  border: none;
  color: red;
  background-color: transparent;
  cursor: pointer;
  font-size: 13px;

}


hr {
  padding: 1px;
  background-color: black;
  margin: 5px 0;

}